<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://mybatis.org/schema/mybatis-spring
                            http://mybatis.org/schema/mybatis-spring.xsd">
    <!--DB연결, 추가-->
    <bean id="hikariConfig" class="com.zaxxer.hikari.HikariConfig">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/springboard"/>
        <property name="username" value="root"/>
        <property name="password" value="ansghkwo12"/>
    </bean>
    <!--DB연결, 추가-->
    <!--HikariCp 연결, 추가-->
    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
        <constructor-arg ref="hikariConfig"/>
    </bean>
    <!--HikariCp 연결, 추가-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!-- ↓ xml 파일이 소스랑 같은 디렉토리에 없을 경우 필요-->
        <property name="mapperLocations" value="classpath:/mappers/*.xml" />
        <property name="typeAliasesPackage" value="org.example.springboard2" />
    </bean>
    <!-- ↓ xml 연결고리 역할, 수정-->
    <mybatis-spring:scan base-package="org.example.springboard2" />
</beans>